.form {
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkout-form-control {
    font-family: 'Cabin', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.checkout-form-control h2 {
    padding: 0;
    margin: 1rem 0;
}

.checkout-form-control p {
    padding: 0;
    margin: 0 0 1rem;
}

.checkout-form-control .invalid p {
    color: red;
    padding: 0;
    margin: 0 0 1rem;
}

.checkout-form-actions {
    font-family: 'Cabin', sans-serif;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;    
}

.checkout-form-actions button {
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    padding: 0.5rem 1.5rem;
    border-radius: 14px;
    border: 1px solid #000000;
}

.error-text {
    color: #b40e0e;
}
