.meal-item-button {
    cursor: pointer;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 6rem;
    padding: 0.25rem 1.25rem;
    border-radius: 15px;
    border: 1px solid black;
    color: white;
    background-color: rgb(156, 35, 35);
}

.meal-item-button:hover, .button:active {
    background-color: rgb(121, 30, 30);
}

.confirm-button {
    color: white;
    background-color: rgb(156, 35, 35);
}

.close-button {
    color: black;
    background-color: white;
}

.confirm-button:hover, .confirm-button:active {
    background-color: rgb(121, 30, 30);
}

.close-button:hover, .close-button:active {
    color: white;
    background-color: #919191;
}

.confirm-button:disabled, .confirm-button:disabled:hover, .confirm-button:disabled:active {
    background-color: #ccc;
    border-color: #ccc;
    color: #292929;
    cursor: not-allowed;
}
