.input-form {
    display: flex;
    align-items: center;
    font-family: 'Cabin', sans-serif;
}

.input-form label {
    font-weight: bold;
    margin-right: 1rem;
}

.input-form input {
    font: inherit;
    width: 3rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
    font-family: 'Cabin', sans-serif;
}

.checkout-form label {
    font-weight: bold;
    margin-right: 1rem;
}

.checkout-form input {
    font: inherit;
    width: 20rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 0.5rem;
}
